<div class="container-fluid">
        <div class="dashboard-main">
            <div class="container-fluid project-holder">
                <h2>All projects</h2>
                <div class="btn btn-default btn-classic"><b>Add new</b></div>
                <div class="row projects-row">
                    <a href="project/1">
                        <div class="col-md-3">
                            <div class="project">
                                <div class="card-header">
                                    <h4><b>Projekat batice</b></h4>
                                    <h2><b>01:05:24</b></h2>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="col-md-3">
                        <div class="project">
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            {{treca}}
                        </div>
                    </div>   

                    <div class="col-md-3">
                        <div class="project">
                            
                        </div>
                    </div>
                </div>      
            </div>


        </div>
        
    </div>