@using Trailr.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div ng-app="App" ng-controller="MainController">
    <!--Nav bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trailr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Projects <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Drugi</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">@Session["userEmail"]</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <h2>Dashboard</h2>
        <p>Welcome @Session["userEmail"]</p>
        <a href="/Dashboard/Project/1">linkekkk</a>
    </div>
    

</div>


