<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/public/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
    
        
        <script src="~/public/js/jquery.min.js"></script>
        <script src="~/public/js/bootstrap.min.js"></script>
        <script src="~/public/js/angular.min.js"></script>
        <script src="~/public/js/angular-route.min.js"></script>

        <script>
            Number.prototype.pad = function(size) {
                var s = String(this);
                while (s.length < (size || 2)) {s = "0" + s;}
                return s;
            }
        </script>
        <script src="~/SPA/Controllers/MainController.js"></script>
        <script src="~/SPA/Controllers/ProjectController.js"></script>
        <script src="~/SPA/app.js"></script>
</body>
</html>
