header{
  width: 100%;
  height: 200px;
  background: #1D1E31;
  text-align: center;
  padding-top: 50px;
}
.stopwatch{
  width: 500px;
  height: 500px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid $purple;
  text-align: center;
  padding-top: 180px;
  color: $purple;
  font-size: 5em;
  cursor: pointer;
  transition: 0.2s ease;
}
.stopwatch:hover{
  color: darken(#8D84FB,15);
  border: 4px solid darken(#8D84FB,15);
}