
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    <!--skloniti layout ako u produkciji ova pocetna stranica bude bila npr neki landing page, a onda angular i sva func ide u sam app-->
    ViewBag.Title = "Index";
}

    
 <title>Index</title>
 <a href="/Account/Login">Login</a>
 <a href="/Account/Register">Register</a>
 <a href="/Account/LogOut">LogOut</a>