
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Index";
}

    
  <title>Index</title>
  <div ng-app="App" ng-controller="MainController">
      <a href="/Account/Login">Login</a>
      <a href="/Account/Register">Register</a>
  </div>