
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/public/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    <div ng-app="App" ng-controller="MainController">
        {{myVariable}}
    </div>




    <script src="~/public/js/jquery.min.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <script src="~/public/js/angular.min.js"></script>
    <script src="~/public/js/angular-route.min.js"></script>
    
</body>
</html>
